<!DOCTYPE html>
@{
    ViewBag.HasBreadcrumb = IsSectionDefined("Breadcrumb");
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    @*I'm not sure why, but bootstrap just doesn't apply for some reason*@

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
    <header>
        <partial name = "_NavigationPartial">
        <partial name="_BreadcrumbsPartial" />
    </header>
    <main>
        @RenderBody()
    </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
