<h1>Home page!</h1>
<hr />

<form method="post" asp-action="Index1">
    <button class="btn btn-primary" type="submit">
        <i class="bi bi-browser-firefox"></i>
        TAP ME!
    </button>
</form>